<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\Soc\NIOS-II-Programming\Lab7\lab7_bai3\software\final1\RUN_ON_HDL_SIMULATOR_ONLY_final1.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\13.0sp1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="RUN_ON_HDL_SIMULATOR_ONLY_final1.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="final1"/>
<stringAttribute key="spdPath" value="D:\Soc\NIOS-II-Programming\Lab7\lab7_bai3\nios_sys_tb.spd"/>
</launchConfiguration>
