<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\TH_SOC\LAB6\bai1\software\lab6_bai1\lab6_bai1.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\13.0sp1\modelsim_ae\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="lab6_bai1.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="lab6_bai1"/>
<stringAttribute key="spdPath" value="D:\TH_SOC\LAB6\bai1\nios_sys_tb.spd"/>
</launchConfiguration>
